/* You can add global styles to this file, and also import other style files */
@import "assets/css/colors";
@import "assets/css/fonts";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 14px;
  font-family: $SF_UI_Display_Regular;
  letter-spacing: 0.32px;
  color: $black900;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  outline: none;

  &:before,
  &:after {
    box-sizing: inherit;
    outline: none;
  }
}

.fnt-size10px {
  font-size: 10px !important;
}

.fnt-size12px {
  font-size: 12px !important;
}

.fnt-size13px {
  font-size: 13px !important;
}

.fnt-size14px {
  font-size: 14px !important;
}

.fnt-size15px {
  font-size: 15px !important;
}

.fnt-size16px {
  font-size: 16px !important;
}

.fnt-size18px {
  font-size: 18px !important;
}

.fnt-size20px {
  font-size: 20px !important;
}

.fnt-size22px {
  font-size: 22px !important;
}

.fnt-size24px {
  font-size: 24px !important;
}

.fnt-size26px {
  font-size: 26px !important;
}

.fnt-size30px {
  font-size: 30px !important;
}

.fnt-size32px {
  font-size: 32px !important;
}

.fnt-size35px {
  font-size: 35px !important;
}

.fnt-size36px {
  font-size: 36px !important;
}

.text-white {
  color: #fff;
}

.bg-light-grey {
  background-color: #F0F6FC;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  height: 60px;
}

.footer {
  min-height: 73px;
}

.medium-font-weight {
  font-weight: 500 !important;
  font-family: $SF_UI_Display_Medium;
}

.cursor-pointer {
  cursor: pointer;
}

.table-layout-fixed {
  table-layout: fixed;
}

.bg-black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.text-black {
  color: $black900;
}

input:focus,
button:focus,
textarea:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.SF_UI_Display_Medium {
  font-family: $SF_UI_Display_Medium !important;
}

.SF_UI_Display_Bold {
  font-family: $SF_UI_Display_Bold !important;
}

.SF_UI_Display_Regular {
  font-family: $SF_UI_Display_Regular !important;
}

.form-control:focus {
  border-color: $blue900 !important;
}

.border,
.form-control {
  border: 1px solid $black300 !important;
}

.btn {
  border-radius: 4px !important;
}

.form-control {
  font-family: $SF_UI_Display_Regular;
  height: 40px !important;
}

.form-control::-webkit-input-placeholder {
  color: $black500 !important;
}

.form-control:-moz-placeholder {
  color: $black500 !important;
}

.form-control::-moz-placeholder {
  color: $black500 !important;
}

.form-control::placeholder {
  color: $black500 !important;
}

.form-control:-ms-input-placeholder {
  color: $black500 !important;
}

/*
 * checkbox and radio design
 */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='checkbox'],
  input[type='radio'] {
    --active: #0066CC;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #0066CC;
    --border-hover: #0066CC;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 2px;

      &:after {
        width: 7px;
        height: 11px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 5px;
        top: 2px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }

  input[type='radio'] {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}
.grow-z-index{
  z-index: 9999;
}
.heading-font {
  font-family: $Minion_Pro_Bold_Italic;
}
.border-4 {
  border-width:4px !important;
}

// Input css.
form {
    width:100%;
    position: relative;
}
.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.form-field {
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  padding: 7px 4px;
  background: transparent;
  transition: border-color 0.2s;
  box-sizing: border-box;
  border: none;
  background: #f4f4f4;;
  resize: none;
  outline: none;
}
input[type="text"],
input[type="email"] {
    height: calc(3em + 2px);
}
.form-field::placeholder {
  color: transparent;
}
.form-field:placeholder-shown ~ .form-label {
  font-size: 10px;
  cursor: text;
  top: 20px;
}
.contact label,
.form-field:focus ~ .form-label {
  position: absolute;
  top: 5px;
  left: 8px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9598a0;;
  background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
  background-size: 105% 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.form-field:focus ~ .form-label {
  color: $success-color;
}
.form-field:focus {
  padding-bottom: 6px;
  border: 1px solid $success-color;
}
.form-field:valid {
    border-color: $success-color;
}
.form-field:valid ~ .form-label {
  color: $success-color;
}

.breadcrumbs_delimiter {
  display: inline-block;
  position: relative;
  margin: 0 0.85em 0 1.1em;
  vertical-align: top;
  text-align: center;
}
.breadcrumbs_delimiter:before {
  content: '|';
  color: #fff;
}
