<div class="row h-100">
  <div class="col-4 mx-auto">
    <div class="bg-white rounded shadow mt-5">
      <p class="p-3 font-weight-bold fnt-size20px text-dark text-center">
        Zero Waste Management Service
      </p>
      <div class="body border-top p-4">
        <p class="font-weight-bold fnt-size20px text-dark mb-2">
          Login
        </p>
        <div class="form-group mt-3">

          <label class="text-grey medium-font-weight fnt-size12px">
            Email
          </label>

          <input autofocus type="text"  placeholder="Enter email"
            class="form-control fnt-size15px input-height main-bg-color" />
        </div>
        <button type="submit" class="btn btn-success btn-block mt-4 fnt-size15px pt-2 pb-2 medium-font-weight">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
