<div class="bg-success text-white py-2">
  <div class="text-center container d-md-flex justify-content-md-between align-items-md-center">
    <div>
      <p class="fnt-size22px">
        Gallery
      </p>
    </div>
    <div>
      <a class="text-decoration-none" routerLink="/dashboard">
        Home
      </a>
      <span class="breadcrumbs_delimiter"></span>
      <a>
        Gallery
      </a>
    </div>
  </div>
</div>
<div>
  <zwms-masonry></zwms-masonry>
</div>
