<div class="col-md-12">
  <div class="row">
    <hr>
    <div class="gal px-4 pb-4">
      <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex"
        [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
        [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false"
        [baseZIndex]="100000">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
          </div>
        </ng-template>
      </p-galleria>
      <div *ngIf="images" class="p-grid" style="max-width: 400px;">
        <div *ngFor="let image of images; let index = index;" class="p-col-3" key="index">
          <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)" />
        </div>
      </div>
    </div>
  </div>
</div>
