@import "../../../../../assets/css/colors";
// .bg-dashboard {
//   background: url('../../../../../assets/images/dashboard/blue-dashboard.jpg') no-repeat center fixed $black100;
//   background-size: cover;
//   width: 100%;
//   height: 100vh;
// }
