@media (min-width: 768px)
 {
.bg-picture {
  background: url('../../../../../assets/images/dashboard/texture.jpg') no-repeat fixed;
  background-size: contain;
  height: 100%;
  width: 100%;
}
 }
.header-img {
  width: 100%;
  max-width: 70px;
  height: 100%;
  max-height: 70px;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url('../../../../../assets/images/dashboard/header/search.svg') no-repeat 9px center;
	width: 34px;
  background-color: transparent;
  border-radius: 10em;
  transition: all 0.5s;
  border: none;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
.header-nav {
  a:active:before {
    border-left-color: #8dc63f;
    border-left: 4px solid;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 120%;
    bottom: 0;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 1;
  }
}
