<div class="bg-picture bg-primary pt-3 pb-1 d-lg-flex align-items-lg-center p-lg-5 justify-content-lg-between">
  <div class="text-center">
    <a href="#">
      <img class="header-img" src="https://www.zerowastems.com/wp-content/uploads/2020/02/4.png" alt="logo">
    </a>
  </div>
  <div class="d-flex align-items-start justify-content-center">
    <div>
      <nav class="navbar navbar-expand-md navbar-dark pr-0 d-flex justify-content-center flex-nowrap">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form id="demo-2" class="d-md-none">
          <input class="text-white" type="search" placeholder="Search">
        </form>
        <div class="header-nav collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="home">Products & Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="home">Events Covered</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="home">Waste Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLinkActive="active" routerLink="contactUs">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="p-2 mt-2 d-none d-md-block">
      <form id="demo-2">
        <input class="text-white" type="search" placeholder="Search">
      </form>
    </div>
  </div>
</div>
