<div class="bg-success text-white py-2">
  <div class="text-center container d-md-flex justify-content-md-between align-items-md-center">
    <div>
      <p class="fnt-size22px">
        Contacts
      </p>
    </div>
    <div>
      <a class="text-decoration-none" routerLink="/dashboard">
        Home
      </a>
      <span class="breadcrumbs_delimiter"></span>
      <a>
        Contacts
      </a>
    </div>
  </div>
</div>
<div>
  <div class="mt-1">
    <div>
      <iframe class="map-iframe" frameborder="0"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15935.690461528127!2d101.668418!3d3.1151749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86bf33941545a6a0!2sWisma%20Goshen!5e0!3m2!1sen!2sin!4v1592553785850!5m2!1sen!2sin">
      </iframe>
    </div>

    <a target="_blank" rel="noopener"
      href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15935.690461528127!2d101.668418!3d3.1151749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86bf33941545a6a0!2sWisma%20Goshen!5e0!3m2!1sen!2sin!4v1592553785850!5m2!1sen!2sin">
      <div class="pl-3">
        VIEW MAP
        <img height="20" alt="arrow-card" src="assets/images/dashboard/contacts/arrow-card.png" />
      </div>
    </a>
  </div>
  <div class="text-center p-4">
    <h3>
      Contact us
    </h3>
  </div>
  <div class="d-md-flex">
    <div class="p-4">
      <div class="contact-heading mb-4">
        <p>
          Address:<br>
          <span class="fnt-size10px mt-n2" style="color: #8a8a8a;">
            Zero Waste Management Solution, GF-334,
            Ansal Sumanglam Building, RDC, Ghaziabad (U.P.)
          </span>
        </p>
        <p>
          Phone number:<br>
          <span class="fnt-size10px text-success mt-n2">
            (+91) 8800234783
          </span>
        </p>
        <p>
          E-mail:<br>
          <span class="fnt-size10px text-success mt-n2">
            info@zerowastemanagementsolution.com
          </span>
        </p>
        <p>
          We are open: <br>
          <span class="fnt-size10px mt-n2" style="color: #8a8a8a;">
            Monday – Friday 10AM – 8PM
          </span>
        </p>
      </div>
      <div class="d-flex justify-content-start">
        <img class="footer-img" src="assets/images/dashboard/footer/facebook.svg" alt="fb">
        <img class="pl-2 footer-img" src="assets/images/dashboard/footer/instagram.svg" alt="insta">
        <img class="pl-2 footer-img" src="assets/images/dashboard/footer/twitter.svg" alt="tweet">
        <img class="pl-2 footer-img" src="assets/images/dashboard/footer/whatsapp.svg" alt="wa">
      </div>
    </div>
    <div class="px-4">
      <form>

        <div class="contact form-group fnt-size10px">
          <input type="text" id="full-name" class="form-field" placeholder="Name*" required>
          <label for="full-name" class="form-label">Name*</label>
        </div>

        <div class="contact form-group fnt-size10px">
          <input type="email" id="email" class="form-field" placeholder="Email*"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
          <label for="email" class="form-label">Email*</label>
        </div>

        <div class="contact form-group fnt-size10px">
          <textarea id="message" class="form-field" placeholder="Message" rows="6" required></textarea>
          <label for="message" class="form-label">Message</label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label" for="exampleCheck1">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <span class="pl-1">
              I agree that my submitted data is being collected and stored.
            </span>
          </label>
        </div>
        <button class="btn btn-success mb-3 text-white">
          Send Message
        </button>
      </form>
    </div>
  </div>
</div>
