.contact-heading {
  h3 {
    font-size: 2.3077em;
    line-height: 1.3em;
    font-weight: 900;
  }
}
.footer-img {
  width: 100%;
  max-width: 30px;
}
.contact-heading {
  p {
    color: #424242;
    font-size: 1.21em;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    display: block;
    margin-top: 0.8rem !important;
    margin-bottom: 1.5rem !important;
    line-height: 1;
  }
}
.map-iframe {
  width: 100%;
  height: 400px;
  border: 0px;
}
