<div class="bg-white border-top border-success border-4 p-5 d-md-flex justify-content-md-between align-items-md-center flex-md-row-reverse">
  <div class="d-flex justify-content-center">
    <img class="footer-img" src="assets/images/dashboard/footer/facebook.svg" alt="fb">
    <img class="pl-2 footer-img" src="assets/images/dashboard/footer/instagram.svg" alt="insta">
    <img class="pl-2 footer-img" src="assets/images/dashboard/footer/twitter.svg" alt="tweet">
    <img class="pl-2 footer-img" src="assets/images/dashboard/footer/whatsapp.svg" alt="wa">
  </div>
  <div class="text-center copyright-text mt-3 mt-md-0">
    <a href="#" class="text-success fnt-12px">
      Zero Waste Management Solution
    </a>
    &copy; 2021 All Rights Reserved
  </div>
</div>
