<div class="border-top border-success border-4 bg-picture bg-primary text-white p-4">
  <div class="d-md-flex justify-content-md-between flex-md-wrap">
    <div class="mb-4 sub__footer">
      <div>
        <h4>
          Contact us 1
        </h4>
      </div>
      <div class="sub-footer-para-width">
        <p>
          Visit Us At: Zero Waste Management Solution, GF-334, Ansal Sumanglam Building, RDC, Ghaziabad (U.P.)
        </p>
        <p>
          Call Us At: +91-8800234783
        </p>
        <p>
          Mail Us At: info@zerowastemanagementsolution.com
        </p>
      </div>
    </div>
    <div class="mb-4 sub__footer">
      <div>
        <h4>
          Contact us 2
        </h4>
      </div>
      <div class="sub-footer-para-width">
        <p>
          Visit Us At: Zero Waste Management Solution, GF-334, Ansal Sumanglam Building, RDC, Ghaziabad (U.P.)
        </p>
        <p>
          Call Us At: +91-8800234783
        </p>
        <p>
          Mail Us At: info@zerowastemanagementsolution.com
        </p>
      </div>
    </div>
    <div class="mb-4 sub__footer">
      <div>
        <h4>
          Contact us 3
        </h4>
      </div>
      <div class="sub-footer-para-width">
        <p>
          Visit Us At: Zero Waste Management Solution, GF-334, Ansal Sumanglam Building, RDC, Ghaziabad (U.P.)
        </p>
        <p>
          Call Us At: +91-8800234783
        </p>
        <p>
          Mail Us At: info@zerowastemanagementsolution.com
        </p>
      </div>
    </div>
    <div class="mb-4 sub__footer">
      <div>
        <h4>
          Contact us 4
        </h4>
      </div>
      <div class="sub-footer-para-width">
        <p>
          Visit Us At: Zero Waste Management Solution, GF-334, Ansal Sumanglam Building, RDC, Ghaziabad (U.P.)
        </p>
        <p>
          Call Us At: +91-8800234783
        </p>
        <p>
          Mail Us At: info@zerowastemanagementsolution.com
        </p>
      </div>
    </div>
  </div>
</div>
