@media (min-width: 768px)
 {
.bg-picture {
  background: url('../../../../../assets/images/dashboard/vr-texture.jpg') no-repeat fixed;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.sub-footer-para-width {
  width: 100%;
  max-width: 270px;
}
}

.sub__footer {
  h4{
    font-size: 1.5384em;
    position: relative;
    padding-bottom: 10px;
  }
  h4::after{
    content: ' ';
    display: block;
    position: absolute;
    height: 0;
    border-top: 2px solid #ffffff;
    width: 50px;
    left: 0;
    bottom: 0;
    border-color: #8dc63f;
  }
  p {
    font-size: 0.8em;
  }
}
