/*
 * blue color code
 */
$blue900: #50627f;
$blue700: #50627fd3;
$blue500: #50627f98;
$blue300: #50627f5d;
$blue100: #50627f13;
/*
 * red color code
 */
$red900: #E40046;
$red700: #E9336B;
$red500: #EF6690;
$red300: #F499B5;
$red100: #FACCDA;
/*
 * black color code
 */
$black900: #000000;
$black700: #666666;
$black500: #B1B3B3;
$black400: #CCCCCC;
$black300: #D1D1D1;
$black200: #F1F1F1;
$black100: #F8F9FA;
$black0: #FFFFFF;
/*
 * success color code
 */
$success-color: #8dc63f;
/*
 * warning color code
 */
$warning-color: #FA8C16;
/*
 * error color code
 */
$error-color: #F5222D;
/*
 * body color code
 */
$body-bg: #f8f9fa;
/*
 * theme color code
 */
$theme-colors: (
  "primary": $blue900,
  "danger": $red900,
  "success": $success-color,
  "warning": $warning-color,
  "secondary": $black700
);
