/*
 * SF UI Display fonts
 */
@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold.woff') format('woff');
}

/*
 * Minion Pro fonts
 */

@font-face {
    font-family: 'Minion Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Regular'), url('../fonts/MinionPro-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Minion Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Italic'), url('../fonts/MinionPro-It.woff') format('woff');
}


@font-face {
    font-family: 'Minion Pro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Medium'), url('../fonts/MinionPro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Minion Pro Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Medium Italic'), url('../fonts/MinionPro-MediumIt.woff') format('woff');
}

@font-face {
    font-family: 'Minion Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold'), url('../fonts/MinionPro-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Minion Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Bold Italic'), url('../fonts/MinionPro-BoldIt.woff') format('woff');
}
/*
 * SF_UI_Display variables
 */
$SF_UI_Display_Regular: SF UI Display Light;
$SF_UI_Display_Medium: SF UI Display Medium;
$SF_UI_Display_Bold: SF UI Display Bold;
/*
 * Minion_Pro variables
 */
$Minion_Pro_Regular: Minion Pro Regular;
$Minion_Pro_Italic: Minion Pro Italic;
$Minion_Pro_Medium: Minion Pro Medium;
$Minion_Pro_Medium_Italic: Minion Pro Medium Italic;
$Minion_Pro_Bold: Minion Pro Bold;
$Minion_Pro_Bold_Italic: Minion Pro Bold Italic;
